asgiref @ file:///tmp/build/80754af9/asgiref_1605055780383/work
attrs==21.2.0
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
certifi==2020.12.5
cffi==1.14.6
charset-normalizer==2.0.4
colorama==0.4.4
cryptography==3.4.7
distlib==0.3.2
distro==1.6.0
dj-database-url==0.5.0
Django @ file:///tmp/build/80754af9/django_1613762073373/work
django-heroku==0.3.1
docker==5.0.0
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
export==0.1.2
filelock==3.0.12
gunicorn==20.1.0
idna==3.2
jsonschema==3.2.0
paramiko==2.7.2
pbs==0.110
Pillow==8.3.1
pipenv==2021.5.29
platformdirs==2.2.0
psycopg2 @ file:///C:/ci/psycopg2_1612298766762/work
pycparser==2.20
PyNaCl==1.4.0
pyrsistent==0.18.0
python-dotenv==0.19.0
pytz @ file:///tmp/build/80754af9/pytz_1612215392582/work
pywin32==227
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
source==1.2.0
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
texttable==1.6.4
urllib3==1.26.6
virtualenv==20.7.1
virtualenv-clone==0.5.6
websocket-client==0.59.0
whitenoise==5.3.0
wincertstore==0.2
